<h1>edit blog content</h1>

<%= form_for @blog do |f| %>
<p> <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content  %>
    <%= f.text_field :content %>
    <%= f.label :image %>
    <%= f.text_field :image %>
    <%= f.submit %>
</p>

<% end %>